.about {
    padding: 70px 0 73px;
}

.about__subtitle {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    color: var(--main-color);
    margin-bottom: 35px;
}

.about__subtitle::before {
    position: absolute;
    top: 12px;
    right: 83px;
    content: '';
    width: 43px;
    height: 2px;
    background-color: #000000;
}

.about__subtitle::after {
    position: absolute;
    top: 12px;
    left: 80px;
    content: '';
    width: 43px;
    height: 2px;
    background-color: #000000;
}

.about__text {
    font-size: 18px;
    line-height: 25px;
    padding: 0 240px;
    margin-bottom: 59px;
    color: var(--main-color);
}

.about__list {
    display: flex;
    gap: 50px;
    justify-content: center;
    counter-reset: count 0;
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    max-width: 195px;
}

.about__item::before {
    content: counter(count);
    counter-increment: count;
    border-radius: 50%;
    width: 122px;
    height: 122px;
    background-color: #23C7EC;
    color: var(--main-color-light);
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    padding: 37px 44px;
}

@media (max-width: 1200px) {
    .about__text {
        padding: 0 170px;
    }
}

@media (max-width: 1024px) {
    .about__subtitle {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
        padding-right: 3px;
    }

    .about__subtitle::before {
        top: 10px;
        right: 75px;
        width: 40px;
    }

    .about__subtitle::after {
        top: 10px;
        left: 73px;
        width: 40px;
    }

    .about__text {
        font-size: 16px;
        line-height: 23px;
        padding: 0 150px;
    }

    .about__list {
        gap:  35px;
    }

    .about__item {
        gap: 26px;
        font-size: 18px;
        line-height: 25px;
        padding-right: 2px;
    }

    .about__item::before {
        width: 104px;
        height: 104px;
        padding: 22px 31px;
        font-weight: 500;
        font-size: 52px;
        line-height: 61px;
    }
}

@media (max-width: 768px) {
    .about__text {
        padding: 0 50px;
        font-size: 14px;
        line-height: 23px;
    }
}

@media (max-width: 810px) {
    .about__list {
        flex-wrap: wrap;
        padding: 0 35px;
    }
}

@media (max-width: 640px) {
    .about__text {
        padding: 0 30px;
    }
}

@media (max-width: 320px),
(max-width: 480px) {
    .about {
        padding: 31px 0 63px;
    }

    .about__title {
        margin-bottom: 17px;
    }

    .about__subtitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 29px;
    }

    .about__subtitle::before {
        top: 11px;
        right: 69px;
        width: 20px;
        height: 1px;
    }

    .about__subtitle::after {
        top: 11px;
        left: 69px;
        width: 20px;
        height: 1px;
    }

    .about__text {
        font-size: 12px;
        line-height: 17px;
        padding: 0 9px;
        margin-bottom: 40px;
    }

    .about__list {
        gap: 42px;
    }
}