.footer {
    background-color: #2F324B;
    padding: 48px 0;
}

@media (max-width: 1024px) {
    .footer {
        padding: 39px 0;
    }
}

@media (max-width: 640px) {
    .footer {
        padding: 25px 0 15px;
        background: linear-gradient(0deg, rgba(42, 44, 63, 1) 35%, rgba(47, 50, 75, 1) 35%)
    }
}