.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 0;
}

.section {
    padding: 70px 0;
    text-align: center;
}

.section__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: var(--main-color);
    margin-bottom: 25px;
}

@media (max-width: 1024px) {
    .section__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 23px;
    }
}

@media (max-width: 768px) {
    .section__title {
        font-size: 27px;
        line-height: 32px;
    }

    .container {
        padding: 0 20px;
    }
}

@media (max-width: 640px) {
    .section__title {
        font-size: 25px;
        line-height: 29px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    .section__title {
        font-size: 22px;
        line-height: 26px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 15px;
    }

    .section__title {
        font-size: 20px;
        line-height: 23px;
    }
}